@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ghost-accent-color: #FF1A75;
  --red: red;
}

@layer utilities {
  .change {
    color: transparent;
  }
  .border-accent {
    border-color: var(--ghost-accent-color);
}
}

body {
  @apply flex flex-col min-h-screen antialiased text-slate-800 dark:text-slate-200 bg-white dark:bg-slate-900;
}

.container-area {
  @apply flex-grow container md:max-w-2xl px-4 pt-16 mx-auto;
}

.menu {
  @apply flex items-center mb-8;
}

.menu > li {
  @apply text-sm md:text-base text-slate-600 dark:text-slate-400;
}

.menu > li + span {
  @apply px-1 text-slate-400;
}

.menu > li > a {
  @apply hover:text-slate-800 dark:hover:text-slate-200 hover:underline;
}

h1.home-title {
  @apply inline-block text-3xl md:text-4xl border-b-4 border-accent pb-1 font-extrabold transform -rotate-1;
}

.description {
  @apply mt-6 text-lg md:text-xl;
}

main {
  @apply mt-12 space-y-6;
}

article > h2 {
  @apply text-lg md:text-xl font-semibold;
}

article > h2 + section {
  @apply text-xs md:text-sm font-medium text-slate-400 dark:text-slate-600;
}

.back-link {
  @apply fixed top-0 left-0 p-4 z-50 min-w-full bg-white md:bg-white/0 dark:bg-slate-900 dark:md:bg-slate-900/0;
}

.back-link a {
  @apply flex justify-start items-center p-1 text-sm md:p-2 md:text-base max-w-min rounded-lg hover:bg-slate-200 dark:hover:bg-slate-800;
}
.back-link a svg {
  @apply w-3 h-3 mr-2;
}

.post-container h1 {
  @apply mt-2 mb-12 text-3xl md:text-4xl font-extrabold md:text-center;
}

.markdown {
  --tw-prose-body: var(--tw-prose-invert-body);
  --tw-prose-headings: var(--tw-prose-invert-headings);
  --tw-prose-lead: var(--tw-prose-invert-lead);
  --tw-prose-links: var(--tw-prose-invert-links);
  --tw-prose-bold: var(--tw-prose-invert-bold);
  --tw-prose-counters: var(--tw-prose-invert-counters);
  --tw-prose-bullets: var(--tw-prose-invert-bullets);
  --tw-prose-hr: var(--tw-prose-invert-hr);
  --tw-prose-quotes: var(--tw-prose-invert-quotes);
  --tw-prose-quote-borders: var(--tw-prose-invert-quote-borders);
  --tw-prose-captions: var(--tw-prose-invert-captions);
  --tw-prose-code: var(--tw-prose-invert-code);
  --tw-prose-pre-code: var(--tw-prose-invert-pre-code);
  --tw-prose-pre-bg: var(--tw-prose-invert-pre-bg);
  --tw-prose-th-borders: var(--tw-prose-invert-th-borders);
  --tw-prose-td-borders: var(--tw-prose-invert-td-borders);
  --tw-text-opacity: 1;
  color: rgb(148 163 184/var(--tw-text-opacity));


  font-size: 1.125rem;
  line-height: 1.7777778;
  @apply mb-16 pb-8 mx-auto block max-w-2xl;
}

.markdown :is(:where(a):not(:where([class~=not-prose] *))) {
  color: var(--ghost-accent-color);
  @apply no-underline hover:underline;
}




code:not([class*='language-']) {
  padding: 0.2em;
  padding-top: 1px;
  padding-bottom: 1px;
  background: #272822;
}

.token.deleted {
  background-color: hsl(350deg 100% 88% / 47%);
}
.token.inserted {
  background-color: hsl(120deg 73% 75% / 35%);
}

/* Make the + and - characters unselectable for copy/paste */
.token.prefix.unchanged,
.token.prefix.inserted,
.token.prefix.deleted {
	-webkit-user-select: none;
	user-select: none;
}

/* Optional: full-width background color */
.token.inserted:not(.prefix),
.token.deleted:not(.prefix) {
	display: block;
}

code {
  white-space: pre-wrap;
}

.pagination-wrapper {
  @apply flex justify-center;
}

.pagination ol {
  @apply flex list-none;
}

.pagination ol li {
  @apply flex justify-center items-center cursor-not-allowed text-gray-800;
}

.pagination ol a:not(:disabled) {
  @apply  block py-1.5 px-3  border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-50 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none;
}
.pagination ol a:disabled {
  @apply relative block py-1.5 px-3  border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none;
}

.pagination a:active {
  /* @apply relative block py-1.5 px-3 border-0 bg-blue-600 outline-none transition-all duration-300 rounded-full text-white hover:text-white hover:bg-blue-600 shadow-md focus:shadow-md; */
}

[aria-current] {
 color: var(--ghost-accent-color) !important; 
 @apply cursor-not-allowed;
}
[aria-current]:hover {
  @apply bg-transparent !important;
}

section.time {
  @apply flex space-x-2 max-w-max mx-auto text-xs md:text-base text-slate-500 dark:text-slate-400 font-medium;
}

.social-media-container li {
  list-style: none;
}

.social-media-container a {
  @apply transition-all duration-200 ease-in-out inline-block;
}

.social-media-container a:hover {
  filter: brightness(0.8);
}